@import '../../utils/vars';

.header {
  background-image: url(../../images/header/AdobeStock_1928218601.png);
  background-size: cover;
  background-position: center right;

  &__text {
    margin-bottom: 72px;
  }

  &__text-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    color: $backgroundColor;
    margin-bottom: 32px;
  }

  &__text-description {
    color: $backgroundColor;
  }

  &__button {
    height: 56px;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    border: 2px solid #F8F8F8;
    border-radius: 15px;

    &:focus {
      background-color: transparent;
      color: $backgroundColor;
      box-shadow: none;
    }

    &:focus:active {
      box-shadow: none;
    }
  }
}