@import '../../vars.scss';

.form-subscribe {
  background-color: $textColor;

  &__block {
    padding: 40px 0;
  }

  &__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: $backgroundColor;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: $backgroundColor;
  }

  &__input {
    height: 54px;
    border-radius: 15px;
    background-color: transparent;

    &:focus {
      border-color: transparent;
      box-shadow: none;
    }
  }

  &__button {
    height: 54px;
    border-radius: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    width: 100%;

    &:hover {
      background-color: transparent;
      border: 2px solid #F8F8F8;
      color: $backgroundColor;
    }

    &:focus {
      box-shadow: none;
    }

    &:active:focus {
      box-shadow: none;
    }
  }
}
