@import "~bootstrap/scss/bootstrap";
@import "custom";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
}

.App {
  background-color: $backgroundColor;

  &__header {
    height: 100vh;
    margin-bottom: 98px;
  }

  &__cars-list {
    margin-bottom: 100px;
  }

  &__form-subscribe {
    margin-bottom: 100px;
  }

  &__questions {
    margin-bottom: 150px;
  }
}

